.language {
	width: 50px;
	height: 33px;
	background:url(../img/languages.png) no-repeat
}

.language.language-af {background-position: -50px 0}
.language.language-am {background-position: -100px 0}
.language.language-ar {background-position: -150px 0}
.language.language-az {background-position:  0 -33px}
.language.language-be {background-position: -50px -33px}
.language.language-bg {background-position: -100px -33px}
.language.language-bh {background-position: -150px -33px}
.language.language-bn {background-position:  0 -66px}
.language.language-br {background-position: -50px -66px}
.language.language-bs {background-position: -100px -66px}
.language.language-ca {background-position: -150px -66px}
.language.language-co {background-position:  0 -99px}
.language.language-cs {background-position: -50px -99px}
.language.language-cy {background-position: -100px -99px}
.language.language-da {background-position: -150px -99px}
.language.language-de {background-position: 0 -132px}
.language.language-el {background-position: -50px -132px}
.language.language-en {background-position: -100px -132px}
.language.language-eo {background-position: -150px -132px}
.language.language-es {background-position: 0 -165px}
.language.language-et {background-position: -50px -165px}
.language.language-eu {background-position: -100px -165px}
.language.language-fa {background-position: -150px -165px}
.language.language-fi {background-position:  0 -198px}
.language.language-fo {background-position: -50px -198px}
.language.language-fr {background-position: -100px -198px}
.language.language-fy {background-position: -150px -198px}
.language.language-ga {background-position:  0 -231px}
.language.language-gd {background-position: -50px -231px}
.language.language-gl {background-position: -100px -231px}
.language.language-gn {background-position: -150px -231px}
.language.language-hi {background-position:  0 -264px}
.language.language-hr {background-position: -50px -264px}
.language.language-hu {background-position: -100px -264px}
.language.language-hy {background-position: -150px -264px}
.language.language-id {background-position:  0 -297px}
.language.language-is {background-position: -50px -297px}
.language.language-it {background-position: -100px -297px}
.language.language-ja {background-position: -150px -297px}
.language.language-ka {background-position:  0 -330px}
.language.language-kl {background-position: -50px -330px}
.language.language-km {background-position: -100px -330px}
.language.language-ko {background-position: -150px -330px}
.language.language-ku {background-position:  0 -363px}
.language.language-ky {background-position: -100px -363px}
.language.language-ln {background-position: -150px -363px}
.language.language-lo {background-position:  0 -396px}
.language.language-lt {background-position: -50px -396px}
.language.language-lv {background-position: -100px -396px}
.language.language-mi {background-position: -150px -396px}
.language.language-mk {background-position:  0 -429px}
.language.language-mn {background-position: -50px -429px}
.language.language-ms {background-position: -100px -429px}
.language.language-mt {background-position: -150px -429px}
.language.language-ne {background-position:  0 -462px}
.language.language-nl {background-position: -50px -462px}
.language.language-no {background-position: -100px -462px}
.language.language-oc {background-position: -150px -462px}
.language.language-pl {background-position:  0 -495px}
.language.language-ps {background-position: -50px -495px}
.language.language-pt {background-position: -100px -495px}
.language.language-ro {background-position: -150px -495px}
.language.language-ru {background-position:  0 -528px}
.language.language-si {background-position: -50px -528px}
.language.language-sk {background-position: -100px -528px}
.language.language-sl {background-position: -150px -528px}
.language.language-so {background-position:  0 -561px}
.language.language-sq {background-position: -50px -561px}
.language.language-sr {background-position: -100px -561px}
.language.language-st {background-position: -150px -561px}
.language.language-su {background-position:  0 -594px}
.language.language-sv {background-position: -50px -594px}
.language.language-tg {background-position: -100px -594px}
.language.language-th {background-position: -150px -594px}
.language.language-tk {background-position:  0 -627px}
.language.language-tl {background-position: -50px -627px}
.language.language-to {background-position: -100px -627px}
.language.language-tr {background-position: -150px -627px}
.language.language-tw {background-position:  0 -660px}
.language.language-ug {background-position: -50px -660px}
.language.language-uk {background-position: -100px -660px}
.language.language-ur {background-position: -150px -660px}
.language.language-uz {background-position:  0 -693px}
.language.language-vi {background-position: -50px -693px}
.language.language-xh {background-position: -100px -693px}
.language.language-zh {background-position: -150px -693px}